/* Open Sans may need to be imported using a font import. */

body {
  margin: 0;
  padding: 40px 10px;
  font-family: "Open Sans", sans-serif;
  background-color: #63CEC2;
}

/* Set block-level items to border-box and with zero padding and margin. */

div, p, input {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Sign In Box Styles */

div.SignIn {
	background-color: rgba(67, 75, 89, 0.7);
	min-width: 320px;
	max-width: 360px;
	margin: 0 auto;
	border-radius: 8px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.signInHeader {
	color: #ccc;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
}

.formInput, .submitButton {
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	border: 0;
	border-radius: 15px;
	font-size: .8em;
	margin: 0;	
}

.submitButton {
	text-transform: uppercase;
	text-align: center;
	color: #F7F8F9;
	background-color: #ccc;
	margin-bottom: 50px;
}

.submitButton:hover {
	cursor: pointer;
	color: #63CEC2;
}

.formInput {
	text-align: left;
	color: #ccc;
	background-color: #F7F8F9;
	margin-bottom: 20px;
	padding: 0 15px;
}

.hidden {
	display: none;
}

.loginFailure {
	text-align: center;
	color: #F7F8F9;
	font-weight: bold;
}

.forgotPassword {
	text-align: center;
	color: #ccc;
}

.forgotPassword a {
	color: #ccc;
	text-decoration: none;
}

.forgotPassword a:hover {
	color: #63CEC2;
	text-decoration: none;
}

/* Profile Box Styles */

div.Profile {
	background-color: rgba(67, 75, 89, 0.7);
	width: 480px;
	margin: 0 auto;
	border-radius: 8px;
	padding: 30px 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.profileHeader {
	color: #ccc;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
}

.welcome {
	text-align: center;
	color: #ccc;
	font-size: 1.1em;
	margin-bottom: 40px;
}

.profileImage {
	width: 45%;
	float: left;
	border-radius: 5px;
	margin-right: 40px;
}

.userInfo {
	font-size: .8em;
	line-height: 1.4em;
	text-align: left;
	color: #ccc;
}

.userInfo {
	list-style: none;
}

.editProfile {
	text-align: center;
	color: #ccc;
}

.editProfile a {
	color: #ccc;
	text-decoration: none;
}

.editProfile a:hover {
	color: #63CEC2;
	text-decoration: none;
}

.profileInfo {
	margin-bottom: 50px;
}








